div {
    color: white;
}

.chart_outer {
    padding: 0;
    border: 5px solid rgb(125, 86, 216);
    border-radius: 50px;
    height: 100px;
    width: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.chart_inner {
    width: 100%;
    background-color: rgb(216, 86, 144);
    transition: all .5s ease-in;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}